<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


  <!--自动扫描的包名 -->
  <context:component-scan base-package="net.osnz.learn.mvc.controller">
    <context:include-filter type="regex" expression=".*Controller"/>
  </context:component-scan>

  <!-- 默认的注解映射的支持 -->
  <mvc:annotation-driven/>

  <!-- 视图解释类 -->
  <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
  <!--<property name="prefix" value="/templates/"/>-->
  <!--<property name="suffix" value=".jsp"/>-->
  <!--&lt;!&ndash;可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑  &ndash;&gt;-->
  <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
  <!--</bean>-->

  <!-- 拦截器 -->
  <!--<mvc:interceptors>-->
  <!--&lt;!&ndash; An interceptor which keeps a hibernate session open to allow lazy loading of form backing objects &ndash;&gt;-->
  <!--<bean class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">-->
  <!--<property name="sessionFactory" ref="sessionFactory"/>-->
  <!--</bean>-->
  <!--</mvc:interceptors>-->

  <!-- 对静态资源文件的访问  方案一 （二选一） -->
  <!--<mvc:default-servlet-handler/>-->

  <!-- 对静态资源文件的访问  方案二 （二选一）-->
  <mvc:resources mapping="/images/**" location="/images/" cache-period="31556926"/>
  <mvc:resources mapping="/js/**" location="/js/" cache-period="31556926"/>
  <mvc:resources mapping="/css/**" location="/css/" cache-period="31556926"/>

  <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
    <property name="resourceLoaderPath" value="/WEB-INF/templates/" />
    <property name="velocityProperties">
      <props>
        <prop key="input.encoding">UTF-8</prop><!-- 指定模板引擎进行模板处理的编码 -->
        <prop key="output.encoding">UTF-8</prop><!-- 指定输出流的编码 -->
        <prop key="contentType">text/html;charset=UTF-8</prop><!-- contentType -->
      </props>
    </property>
  </bean>

  <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">-->
    <!--<property name="cache" value="true" />-->
    <!--<property name="prefix" value="" />-->
    <!--<property name="layoutUrl" value="layout/default.vm"/>-->
    <!--<property name="suffix" value=".vm" />-->
  <!--</bean>-->

  <bean id="viewResolver" class="net.osnz.module.template.service.VelocityMultipleLayoutViewResolver">
    <property name="cache" value="true" />
    <property name="prefix" value="" />
    <property name="suffix" value=".vm" />
    <property name="contentType" value="text/html; charset=utf-8"></property>
    <property name="exposeSpringMacroHelpers" value="true" />
    <property name="exposeRequestAttributes" value="true" />
    <property name="exposeSessionAttributes" value="true" />
    <property name="mappings">
      <map>
        <entry key="admin/*" value="layout/admin.vm" />
        <entry key="*" value="layout/default.vm" />
      </map>
    </property>
  </bean>


</beans>