<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties" />

    <context:component-scan base-package="nz.net.osnz"/>

    <batch:job id="helloJob">
        <batch:step id="helloStep">
            <batch:tasklet start-limit="1" throttle-limit="1">
                <!-- commit-interval:事务批量提交数 -->
                <batch:chunk
                        reader="helloItemReader"
                        processor="helloItemProcessor"
                        writer="helloItemWriter"
                        commit-interval="2"/>
            </batch:tasklet>
        </batch:step>
    </batch:job>

    <bean id="helloItemReader" class="nz.net.osnz.HelloItemReader"/>
    <bean id="helloItemWriter" class="nz.net.osnz.HelloItemWriter"/>
    <bean id="helloItemProcessor" class="nz.net.osnz.HelloItemProcessor"/>

    <jdbc:embedded-database id="dataSource" type="H2">
        <!--<jdbc:script location="${batch.schema.script.drop}"/>-->
        <jdbc:script location="${batch.schema.script}"/>
    </jdbc:embedded-database>
    <!-- spring batch 本身所依赖的事务管理,使用spring batch命名空间，transactional advice（事务AOP）会被自动创建 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- 定义batch对象：jobRepository -->
    <batch:job-repository id="jobRepository"/>
    <!-- 定义batch对象：jobLauncher -->
    <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository"/>
    </bean>

</beans>