<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
  <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

  <h1>Please login</h1>

  <div class="row">
    <div class="col-md-6">
      <p>Click <a th:href="@{/login}">here</a> to login.</p>
    </div>
    <div class="col-md-6">

    </div>
  </div>

</div>

</body>
</html>
